__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

build/
dist/
*.egg-info/
.eggs/

venv/
env/
.venv/
env.bak/
venv.bak/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.txt
todo/
.coverage
coverage.xml
src/pygitgo/commands/tag.py